.wrapper.lang_pt {
  .bunner {
    &__content {
      margin-top: 105px;

      @media (max-width: 375px) and (min-height: 667px) {
        margin-top: 44px;
      }

      @media (max-width: 375px) and (min-height: 812px),
             (max-width: 390px) and (min-height: 844px) {
        margin-top: 160px;
      }

      @media (max-width: 428px) and (min-height: 926px),
             (max-width: 430px) and (min-height: 932px) {
        margin-top: 230px;
      }
    }

    .item__price {
      margin-right: 8px;
    }

    .item-container__subtitle {
      font-size: 13px;
    }

    .item-container__title {
      font-size: 15px;
    }
  }
  .footer__list_item-link {
    font-size: 10px;
  }
}