.wrapper.lang_ja {
  .bunner {
    margin-bottom: 18px;

    @media (min-width: 375px) and (min-height: 812px),
        (max-width: 430px) and (min-height: 932px) {
      margin-bottom: 42px;
    }
    & .item__bestOffer,& .item-container__subtitle {
      font-size: 11px;
    }
    & .item-container__title {
      font-size: 13px;
    }
  }
}