.wrapper.lang_de {
  .bunner {

    & .item__price {
      margin-right: 20px;
      font-size: 13px;
    }

    & .item-container__title {
      font-size: 15px;
    }

    & .item-container__subtitle {
      font-size: 13px;
    }
  }

  @media (max-width: 375px) and (min-height: 667px) {
    .bunner {
      &__title {
        font-size: 37px;
        line-height: 38px;
      }
    }
  }

  .footer__list_item-link{
    font-size: 9px;
  }
}