.wrapper.lang_pt {
  .bunner {

    .item__price {
      margin-right: 8px;
    }

    .item-container__subtitle {
      font-size: 13px;
    }

    .item-container__title {
      font-size: 15px;
    }
  }
  .footer__list_item-link {
    font-size: 10px;
  }
}