// %SF-Black {
//   font-family: 'SFProDisplay-Black';
//   font-weight: 800;
// }
// %SF-Bold {
//   font-family: 'SFProDisplay-Bold';
//   font-weight: 700;
// }
// %SF-Regular {
//   font-family: 'SFProDisplay-Regular';
//   font-weight: 400;
// }
// %SF-Semibold {
//   font-family: 'SFProDisplay-Semibold';
//   font-weight: 600;
// }
%SF-Black {
  font-weight: 800;
}
%SF-Bold {
  font-weight: 700;
}
%SF-Regular {
  font-weight: 400;
}
%SF-Semibold {
  font-weight: 600;
}
$default: #FFFFFF;