@font-face {
  font-family: "SFProDisplay-Black";
  src: 
    url("../fonts/SFProDisplay-Black.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Black.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Bold";
  src: 
    url("../fonts/SFProDisplay-Bold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: 
    url("../fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: 
    url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"),
    url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}