.wrapper {
  @media (max-width: 375px) and (min-height: 667px) {
    .header{
      &__cross {
        margin-top: 33px;
      }
    }

    .bunner {

      &__selector {
        margin-top: 43.5px;
      }
    }

    .btn.btn-continue {
      margin-top: 8px;
    }
  }

  @media (max-width: 414px) and (max-height: 736px) {
    .header{
      &__cross {
        margin-top: 33px;
      }
    }
  }

  @media (min-width: 375px) and (min-height: 812px) {
    .header{
      &__cross {
        margin-top: 72px;
      }
    }
    .bunner {
      margin-bottom: 44px;
    }
    .footer {
      margin-bottom: 31px;
    }
  }

  @media (min-width: 430px) and (min-height: 932px) {
    .bunner {
      margin-bottom: 44px;
    }
    .footer {
      margin-bottom: 31px;
    }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhoneSE*/
    & {
      background-image: url("@img/banner-backgrounds/bg2x.jpg");
    }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    /*
      iPhone 8Plus
      iPhone 11Pro
      iPhone 14
      iPhone 14Plus
      iPhone 14ProMax
    */
    & {
      background-image: url("@img/banner-backgrounds/bg3x.jpg");
    }
  }
}