html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

a{
  text-decoration: none;
}

ul,ol {
  padding: 0;
}

body,h1,p,ul,ol,li {
  margin: 0;
}

ul[class] {
  list-style: none;
} 

img {
  max-width: 100%;
  display: block;
}

input,button {
  font: inherit;
}